[Unit]
Description=Twoine Self-Hosting Platform
Documentation=https://github.com/Antoine601/Twoine
After=network.target mongod.service
Requires=mongod.service

[Service]
Type=simple
User=twoine
Group=twoine
WorkingDirectory=/opt/twoine/app
ExecStart=/usr/bin/node src/app.js
Restart=always
RestartSec=10

StandardOutput=append:/var/log/twoine/api/twoine-api.log
StandardError=append:/var/log/twoine/api/twoine-api-error.log

Environment=NODE_ENV=production
Environment=PORT=3000
EnvironmentFile=-/opt/twoine/app/.env

NoNewPrivileges=false
ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/var/www/twoine /var/log/twoine /opt/twoine/tmp /etc /run/sudo
CapabilityBoundingSet=CAP_SETUID CAP_SETGID CAP_CHOWN CAP_FOWNER CAP_DAC_OVERRIDE CAP_DAC_READ_SEARCH CAP_KILL
AmbientCapabilities=CAP_SETUID CAP_SETGID CAP_CHOWN CAP_FOWNER CAP_DAC_OVERRIDE CAP_DAC_READ_SEARCH CAP_KILL
RestrictSUIDSGID=false

[Install]
WantedBy=multi-user.target
